/* Global */

h3 {
    text-decoration: underline;
}

/* Body */

.materials {
    margin-left: 2rem;
}

.instructions-header {
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.item {
    width: 300px;
    height: 400px;
    overflow: scroll;
    scrollbar-color: gray lightgray;
    scrollbar-width: thin;
}

.no-scroll {
    overflow: visible;
}

.item h5 {
    margin: .5rem 0rem 0rem 0rem;
}

.item li {
    width: 17rem;
}